#box {
     
    background-color: rgb(255, 255, 255);
    padding: 10px; padding-top:0px;
    width: 300px;
    border-style: solid; 
    border-color: rgb(106, 255, 194); 
    border-width: 5px;
}


#box button {
    width: 55px;
    padding: 2px;
}

#off{
    text-align: center; margin:5px;
}
#off button{width:80px}
#message{text-align: center;}

